[client]
user=root
password={{ mysql_root_passwd }}
port=3306
default-character-set=utf8

[mysqld]
port		= 3306

# set to UTF-8
character-set-server={{ mysql_character_set_server }}
collation-server={{ mysql_collation_server }}
character-set-client=utf8
init-connect='SET NAMES utf8'

max_allowed_packet = {{ mysql_max_allowed_packet }}
key_buffer_size = 512M
read_buffer_size = 128M
read_rnd_buffer_size = 32M
thread_cache_size = 8

sort_buffer_size        = 1G
max_heap_table_size		= 256M
tmp_table_size          = 128M
query_cache_limit       = 1M
query_prealloc_size     = 128M

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir = /ark/data/mysql/data
innodb_data_file_path = ibdata1:10M:autoextend
#innodb_log_group_home_dir = /ark/data/mysql/data
#innodb_large_prefix = 1
#innodb_file_format = BARRACUDA
#innodb_file_format_max = BARRACUDA
#innodb_file_per_table = {{ innodb_file_per_table }}

# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 1024M
innodb_additional_mem_pool_size = 2M

# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 50
max_connections=500

# set default engine to InnoDB (don't forget to check with 'show engines' when implementing)
# default-storage-engine = InnoDB

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# required unique id between 1 and 232 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1


# Point the following paths to different dedicated disks
tmpdir		= /tmp/		
#log-update 	= /path-to-dedicated-directory/hostname


[mysqld_safe]
log-error=error.log
#pid-file=/var/run/mysqld/mysqld.pid


[mysqldump]
max_allowed_packet = 16M

[mysql]
prompt=\\d-\\u>\\_
# Remove the next comment character if you are not familiar with SQL
#safe-updates


[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]